body {
	background-image: url(background.png);
	background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

img {
	max-width: 50%;
	max-height: 50%;
}
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.text-center {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: -250px;
  color: white;
  position: center;
  font-size: 18px;
}
