/* Styles for desktop and larger screens */
html, body {
  height: 100%; /* Ensure the parent elements have a height of 100% */
}

body {
  background-image: url(background.png);
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  height: 250%;
}
h1 {
  font-size: 34px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 0px;
}
.line-devider-clear {
  content: "";
  display: block;
  height: 3px;
}
.Logo {
	display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding-bottom: 0px;
}
.Logo img {
	max-width: 50%;
    max-height: 50%;
}

.text-center {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 20px;
}
.text-left {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: white;
  font-size: 20px;
  line-height: 1.5;
  list-style-type: disc;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 20px;
}

.line-devider {
  content: "";
  display: block;
  height: 3px;
  background-color: white;
}
.core-component {
	display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding-top: 20px;
  padding-bottom: 20px;
}
.core-component img {
	max-width: 100%;
    max-height: 100%;
}
.team-info {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  justify-content: center;
  line-height: 1.5;
  padding-left: 15%;
  padding-right: 15%;
  padding: 20px;
}

.team-member {
  flex: 1;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 20px;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}


/* Styles for mobile devices */

@media (max-width: 767px) {
	body {
		background-image: url(background.png);
		background-size: cover;
		background-repeat: repeat;
		width: 100%;
		height: 250%;
	}
  .container {
    height: auto;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .text-center {
    margin-top: -100px;
    font-size: 16px;
  }

  .team-info {
    flex-direction: column;
    align-items: center;
  }

  .team-member img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    line-height: 1.3;
  }
}